* {
  margin: 0px;
  padding: 0px;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.major {
  font-family: "Fira Code", monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.watch {
  font-size: 2.5rem;
}

.minor {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2%;
  width: 100%;
}

.button {
  font-size: 1rem;
  padding: 2% 6%;
  font-family: "Orbitron", sans-serif;
  transition: transform 100ms;
  border-radius: 5px;
  margin: 3%;
  font-weight: 700;
  border: 2px solid #000;
  transition: all 10ms;
}

.button:hover {
  cursor: pointer;
}

.button:disabled {
  background: grey;
}

.button:active {
  background: purple;
}

.start {
  background: limegreen;
}

.stop {
  background: red;
}

.reset {
  background: yellow;
}

.lap {
  background: blue;
}

.lab_container {
  width: 30rem;
  height: 20rem;
  overflow-y: scroll;
  display: flex;
  align-items: center;
  justify-content: center;
}
